<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <style>
        html {
            font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", "Arial Bold", arial, sans-serif;
        }
        body {
            margin: 0;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
<div id="main"></div>
</body>
</html>